<div class="jumbotron center">
<h1><center> Trending</center> </h1>
<!--
You are free to copy and use this sample in accordance with the terms of the
Apache license (http://www.apache.org/licenses/LICENSE-2.0.html)
-->
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['Mylan', 'Searches'],
          ['FDA', 4],
          ['Pharmaceutical', 5],
          ['Healthcare', 6],
          ['ANDA', 2],
          ['Epipen', 7]
        ]);
      
        // Create and draw the visualization.
        new google.visualization.PieChart(document.getElementById('visualization1')).
            draw(data, {title:"What topics are trending?"});
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
    <center><div id="visualization1" style="width: 600px; height: 400px;"></div></center>
</div>
​